<header>
  <div class="header-top">
    <div class="brand">
      <img src="https://media1.tenor.com/m/o3p1pYyo60IAAAAC/big-brain-brain.gif" alt="Brand GIF" class="brand-gif">
      <span class="brand-text">Beyond Edge Lab</span>
    </div>
    <nav>
      <div class="nav-left">
        <a routerLink="/">Home</a>
      </div>
      <div class="nav-right">
        <a routerLink="/about">Mission</a>
        <a routerLink="/page1">Artificial intelligence</a>
      </div>
    </nav>
  </div>
</header>