<header>
  <div class="header-top">
    <div class="brand">
      <img src="https://cdn.dribbble.com/users/214929/screenshots/4967879/ai-loader-opt.gif" alt="Brand GIF" class="brand-gif">
      <span class="brand-text">Beyond Edge Lab</span>
    </div>
    <nav>
      <div class="nav-left">
        <a routerLink="/">Home</a>
      </div>
      <div class="nav-right">
        <a routerLink="/about">About</a>
        <a routerLink="/page1">Artificial intelligence</a>
      </div>
    </nav>
  </div>
</header>
