<header>
  <div class="header-top">
    <div class="brand">
      <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExc2llempiMmE1NmNibWJ2YXZzMmZqODR6bWx0Y3B4ZWx5cDQxeXB1OCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/zwHUgHLAvJC4pnrKKa/giphy.gif" alt="Brand GIF" class="brand-gif">
      <span class="brand-text">Beyond Edge Lab</span>
    </div>
    <nav>
      <div class="nav-left">
        <a routerLink="/">Home</a>
      </div>
      <div class="nav-right">
        <a routerLink="/about">Mission</a>
        <a routerLink="/page1">Artificial intelligence</a>
      </div>
    </nav>
  </div>
</header>