header {
  width: 100%;
}

.header-top {
  background-color: #f0f0f0;
  padding: 10px;
}

.brand {
  font-size: 2.2em;
  font-weight: bold;
}

nav {
  display: flex;
}

.nav-left a, .nav-right a {
  text-decoration: none;
  color: #333;
  font-size: 0.9em;
  padding: 10px;
  font-weight: bold;
  color: red;

  &:hover {
    color: blue;
    font-size: 1.1em; /* Increase font size on hover */
  }
}
