header {
  width: 100%;
}

.header-top {
  background-color: #000000;
  padding: 10px;
}

.brand {
  display: flex;
  align-items: center;
}

.brand-gif {
  width: 100px;  // Adjust width as needed
  height: auto;
  margin-right: 10px; // Add some space between the GIF and text
}

.brand-text {
  font-size: 2.2em;
  font-weight: bold;
  color: white;
}

nav {
  display: flex;
}

.nav-left a, .nav-right a {
  text-decoration: none;
  color: red;
  font-size: 0.9em;
  padding: 10px;
  font-weight: bold;

  &:hover {
    color: blue;
    font-size: 1.1em; /* Increase font size on hover */
  }
}
