$primary-color: #3166da;
$secondary-color: #f1f1f1;
$font-family: 'Arial', sans-serif;

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e8f4f8;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // height: 100%;
  position: absolute;
}

.container {
  display: flex;
  flex-direction: column;  // Change to column for vertical alignment
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  width: 600px;
  height: auto;  // Adjust height to be flexible
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-container {
  padding: 30px;
  width: 80%;  // Adjust width for better layout when stacked vertically
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: $primary-color;
  }

  .test1 {
    // display: flex;
    // justify-content: center;
    // margin-bottom: 20px;
    padding: 20px;
  }

  .test2 {
    // display: flex;
    // justify-content: center;
    // margin-bottom: 20px;
    padding: 20px;
  }

  span {
    text-align: center;
    color: #777;
    margin-bottom: 20px;
    // make space below
    display: block;
  }

  input {
    padding: 10px;
    margin-bottom: 15px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

    &:focus {
      outline: none;
      border-color: $primary-color;
    }
  }

  button {
    padding: 10px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  a {
    color: $primary-color;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.sign-up,
.sign-in {
  display: block;
  width: 100%;  // Ensure each form takes up full width when stacked
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    height: auto;
  }

  .form-container {
    width: 100%;
    padding: 15px;
  }
}
